*{/*reset geral*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*para incluir no elemento a medida da borda e padding*/
}
body{
    font-family: 'Montserrat',Arial,Arial, Helvetica,sans-serif;
    font-size: 13px;
}
header{
    height: 100px;
    background-color: #000;
    color:#fff;
}
.header{
    max-width: 1140px;/*largura máxima*/
    height: 100px;
    margin: auto;/*deixa no meio automáticamente*/
    display: flex;
    align-items: center;/*Alinha na vertical*/

}
.logo{
    width: 100px;
}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #B28756;
}
.menu{
    flex: 1;/*pega todo o espaço restante*/
    display: flex;
    justify-content: flex-end;/*deixa no final da div*/
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul{
    display: flex;/* deixa um do lado do outro*/
}
.menu li a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;/*esse 600 é da fonte usado no projeto é um bold*/
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;/*para ter como ter altura pois o padrão do <a> é inline*/
    align-items: center;
    border-bottom: 5px solid #000;/*para o usuário não ver o texto pulando*/
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #ccc;
}
/*Banner*/
.banner{
    height: calc(100vh - 100px);/*100 vh pega o tamanho total da altura do monitor, porem com o cal estou descontado o tamnho do header*/
    background-color:#333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
}
