*{/*reset geral*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*para incluir no elemento a medida da borda e padding*/
}
body{
    font-family: 'Montserrat',Arial,Arial, Helvetica,sans-serif;
    font-size: 13px;
    overflow-x:hidden;/*todo conteúdo que utrapassar a horizontal vai ser ignorado, serc para tirar a barra horizontal*/
}
header{
    height: 100px;
    background-color: #000;
    color:#fff;
}
.header{
    max-width: 1140px;/*largura máxima*/
    height: 100px;
    margin: auto;/*deixa no meio automáticamente*/
    display: flex;
    align-items: center;/*Alinha na vertical*/

}
.logo{
    width: 100px;
}
.logoimg{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #B28756;
}
.menu{
    flex: 1;/*pega todo o espaço restante*/
    display: flex;
    justify-content: flex-end;/*deixa no final da div*/
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul{
    display: flex;/* deixa um do lado do outro*/
}
.menu li a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;/*esse 600 é da fonte usado no projeto é um bold*/
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;/*para ter como ter altura pois o padrão do <a> é inline*/
    align-items: center;
    border-bottom: 5px solid #000;/*para o usuário não ver o texto pulando*/
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #ccc;
}
/*Banner*/
.banner{
    height: calc(100vh - 100px);/*100 vh pega o tamanho total da altura do monitor, porem com o cal estou descontado o tamnho do header*/
    background-color:#333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;/*tudo que passar o conteúdo que está dentro dele ele vai ignorar*/
}
.banner .sliders{
width: 1000vw;/*tamanho de 10 telas*/
height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;/*o inline é para deixar um ao lado do  outro e o block é para ele manter as propocionalidade*/
    background-color: rgba(0,0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    flex-direction: column   ;
    height: 100%;
    justify-content: center;/*centraliza na horizontal*/
    align-items: center;/*centraliza vesticalmente*/
    color: #fff;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;
}
.banner h1 span{
    color: #B28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner a {
    display: block;
    background-color: #B28756;
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #B28756;
}
/*About*/
.default{
    background-color: red;
}